IPGARAGE_import_articles_API_SUB.json
{
  "name": "IPGARAGE import articles API SUB",
  "nodes": [
    {
      "parameters": {
        "include": "none",
        "options": {}
      },
      "id": "590d9943-96dc-4bfc-aaf5-78be212e017d",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.1,
      "position": [
        380,
        980
      ],
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.ipgarage.lv/wp-json/custom/v1/update-sku",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"sku\" : \"{{ $json.EAN }}\",\n   \"price\" : \"{{ $json.RetailPrice }}\" ,\n   \"stock\"  : \"{{ $json.QuantityAvailable }}\",\n   \"foreign_stock\"  : \"{{ $json.QuantityExternal }}\",\n   \"articleid\"  : \"{{ $json.ArticleId }}\",\n   \"latakko\" : 1,\n   \"categories\" :   {{ JSON.stringify($('Code').item.json.categs) }} \n }",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "9b66b82f-42a4-48a3-88df-c9a6dea5dc80",
      "name": "Update by SKU",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -320,
        1000
      ],
      "executeOnce": false,
      "notesInFlow": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "ICaoKU2uzrjnwEX7",
          "name": "IPGARAGE WP"
        }
      },
      "notes": "New"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "23347567-36dd-4a31-99eb-4f93b24b7b85",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3ad9d566-0139-4573-93ee-28a00181d433",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -80,
        1000
      ]
    },
    {
      "parameters": {
        "workflowId": "oRAAGbhLSlNU3lTL"
      },
      "id": "870038bb-cf0c-40a7-b20f-e7ad9753e788",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        260,
        1240
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "categs",
              "type": "arrayValue",
              "arrayValue": "={{ $('Articles').item.json.categs }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e822f4d0-5116-41dc-963a-462bbedb60ac",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        40,
        1240
      ]
    },
    {
      "parameters": {},
      "id": "654fff22-2418-4a60-a041-281fffc50fed",
      "name": "Articles",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -780,
        1000
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c25d49ab-4f42-465a-8f1e-b89f04aeb3d7",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -180,
        1240
      ]
    },
    {
      "parameters": {
        "url": "=https://www.ipgarage.lv/wp-json/wc/v3/products/9418",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "f4027335-d1ac-4147-9e38-be9097db6073",
      "name": "Update by SKU1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -620,
        1360
      ],
      "executeOnce": false,
      "notesInFlow": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "ICaoKU2uzrjnwEX7",
          "name": "IPGARAGE WP"
        }
      },
      "notes": "New"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Add a new field called 'myNewField' to the JSON of the item\n\ncategs = [];\nswitch($input.item.json.MainGroupId) {\n  case 10 :  categs = [ { \"id\" : 17  }  , { \"id\" : 99698  }, { \"id\" : 99697  } ] ;  break;  //parastās vasaras\n  case 13:  categs = [ { \"id\" : 18  }  , { \"id\" : 99698  }, { \"id\" : 99697  } ] ;  break;   //pārstrādātas vasaras\n  case 48:  categs = [ { \"id\" : 33  }  , { \"id\" : 99698  }, { \"id\" : 99697  } ] ;  break;    //collas vasaras\n  case 15:  categs = [ { \"id\" : 19  }  , { \"id\" : 99697  } ] ;  break;   //vissezona\n  case 20:  categs = [ { \"id\" : 20  }  , { \"id\" : 99697  } , { \"id\" : 99699}] ;  break;   //ziemas saķere vieglie\n  case 21:  categs = [ { \"id\" : 21  }  , { \"id\" : 99697  } , { \"id\" : 99699}] ;  break;   //ziemas ar radzēm vieglie  \n  case 22:  categs = [ { \"id\" : 22  }  , { \"id\" : 99697  } , { \"id\" : 99699}] ;  break;   //ziemas radžojamas vieglie     \n  case 23:  categs = [ { \"id\" : 23  }  , { \"id\" : 99697  } , { \"id\" : 99699}] ;  break;   //ziemas saķere pārstrādātas vieglie\n  case 24:  categs = [ { \"id\" : 24  }  , { \"id\" : 99697  } , { \"id\" : 99699}] ;  break;   //ziemas ar radzēm vieglie pārstrādātas\n  case 49:  categs = [ { \"id\" : 34  }  , { \"id\" : 99697  } , { \"id\" : 99699}] ;  break;   //ziemas collas vieglie\n\n //busi\n  case 30:  categs = [ { \"id\" : 25  }  , { \"id\" : 99702  } , { \"id\" : 99701}] ;  break;   //busi parastas  \n  case 33:  categs = [ { \"id\" : 26  }  , { \"id\" : 99702  } , { \"id\" : 99701}] ;  break;   //busi parastas pārstrādātas\n  case 35:  categs = [ { \"id\" : 27  }  , { \"id\" : 99701}] ;  break;   //busi vissezonas\n  case 40:  categs = [ { \"id\" : 28  }  , { \"id\" : 99703  } , { \"id\" : 99701}] ;  break;   //busi ziemas saķeres\n  case 41:  categs = [ { \"id\" : 29  }  , { \"id\" : 99703  } , { \"id\" : 99701}] ;  break;   //busi ziemas ar radzēm\n  case 42:  categs = [ { \"id\" : 30  }  , { \"id\" : 99703  } , { \"id\" : 99701}] ;  break;   //busi ziemas radžojamas\n  case 53:  categs = [ { \"id\" : 26  }  , { \"id\" : 99701}] ;  break;   //busi pārstrādātas\n\n  //indagtruck\n  case 66:  categs = [ { \"id\" : 37  } ,  { \"id\" : 99776} ] ;  break;   //traktoru \n  case 80:  categs = [ { \"id\" : 38  }  , { \"id\" : 99776} ] ;  break;   //industriālas\n  case 88:  categs = [ { \"id\" : 40  }] ;  break;   //industriālas \n\n  //moto  \n  case 85:  categs = [ { \"id\" : 39  }] ;  break;     \n\n}\n\n$input.item.json.categs = categs;\n\nreturn $input.item;"
      },
      "id": "a453f1ae-8337-43f1-80af-4418409bd776",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        1000
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Update by SKU": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Articles": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Update by SKU",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner",
    "saveExecutionProgress": false
  },
  "versionId": "075aad0f-c8a0-4264-b42c-ecd437f78126",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c42b56c48399e24671b6e67e33556df9afd487de2f3bcbdf47ed080ed6976782"
  },
  "id": "ob0vfG6o2D8tZR2K",
  "tags": [
    {
      "createdAt": "2024-01-11T05:41:52.696Z",
      "updatedAt": "2024-01-11T05:41:52.696Z",
      "id": "cRfJkMTRJU46oymc",
      "name": "ipgarage"
    }
  ]
}